BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
SortIncludes: true
